<h1>Create Tenant</h1>
<div ng-show="authenticated">
    <div class="alert alert-danger" ng-show="controller.error">
        {{controller.errorMessage}}
    </div>
    <div class="alert alert-success" ng-show="controller.created">
        User created successfully
    </div>
    <form ng-submit="controller.createNewTenant()">
        <div ng-repeat="obj in collection">
            <div class="form-group">
                <div model-name="controller.createTenant" input-fields="{{obj}}"></div>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Create Tenant</button>
    </form>


</div>