<h1>Add Property</h1>
<div ng-show="authenticated">
    <div class="alert alert-danger" ng-show="controller.error">
        {{controller.errorMessage}}
    </div>
    <div class="alert alert-success" ng-show="controller.created">
        Property added successfully
    </div>
    <form ng-submit="controller.createProperty()">
        <div ng-repeat="obj in collection">
            <div class="form-group">
                <div model-name="controller.addProperty" input-fields="{{obj}}"></div>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Create Property</button>
    </form>


</div>