<div ng-show="authenticated">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <a href="#/tenant">
                <div class="thumbnail">
                    <img src="../../content/images/button.png" alt="Create Tenant">
                    <div class="caption">
                        <h3 class="button-label">Create Tenant</h3>
                    </div>
                </div>
            </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a href="#/create-property">
                    <div class="thumbnail">
                        <img src="../../content/images/button.png" alt="Create Property">
                        <div class="caption">
                            <h3 class="button-label">Create Property</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a href="#/view-properties">
                    <div class="thumbnail">
                        <img src="../../content/images/button.png" alt="View Properties">
                        <div class="caption">
                            <h3 class="button-label">View Properties</h3>
                        </div>
                    </div>
                </a>
            </div>
    </div>
</div>

