<div class="alert alert-danger" ng-show="!controller.success">
    {{controller.errorMessage}}
</div>
<div class="alert alert-success" ng-show="controller.success">
    Registration successful
</div>
<a ng-show="controller.success" href="#/login" class="btn btn-primary btn-lg active" role="button">Login</a>
