<form ng-submit="controller.register()">
    <div class="alert alert-danger" ng-show="controller.error">
        {{controller.errorMessage}}
    </div>
    <div class="alert alert-success" ng-show="controller.created">
        User created successfully
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Email" ng-model="controller.signup.email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" name="password" ng-model="controller.signup.password">
    </div>

    <div class="form-group">
        <label for="password">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" ng-model="controller.signup.confirmPassword">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>