<table class="table">
    <thead>
        <tr>
            <td>Address</td>
            <td>Rent</td>
            <td>Tenant</td>
            <td>Edit</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="property in propertyTenants">
            <td><span class="googleplace" ng-model="property.address" editable-text="property.address" e-form="rowform">{{property.address || ''}}</span></td>
            <td><span editable-text="property.rent" e-form="rowform">{{property.rent || ''}}</span></td>
            <td>
                <span ng-repeat="tenant in tenants">
                    {{tenant}}
                </span>
            </td>
            <td style="white-space: nowrap">
                <form editable-form name="rowform" onbeforesave="saveProperty($data, property.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == property">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                        save
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                        cancel
                    </button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                    <button class="btn btn-danger" ng-click="removeProperty($index)">del</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>




<script type="text/ng-template" id="editProperty.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Edit Tenants</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="tab-content">
            <div ng-repeat="obj in collection">
                <div class="form-group">
                    <div model-name="controller.addProperty" input-fields="{{obj}}"></div>
                </div>
            </div>
            <div ng-repeat="tenant in tenants">
                <button type="button" class="btn btn-default btn-lg remove-button" remove-tenant ng-click="removeTenant(tenant.id)">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{tenant.name}}
                </button>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$close()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="$dismiss()">Cancel</button>
    </div>
</script>
