body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.pac-container {
    z-index: 1050 !important;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.button-label {
    padding-left : 85px;
}

.property-logo {
    padding-top : 0;
}

.remove-button {
    padding : 0;
}

input.editable-input {
    width: 500px;
}
