<!doctype html>
<html>
<head>
<title>Palmer Property Rentals</title>
    <link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="content/css/main.css">
    <link href="bower/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCH88wWjWiQC9KaqLTcX_yEkMc_Q2GMzKc&libraries=places&sensor=false"></script>
</head>

<body ng-app="palmerpropertyrental">
	<div ng-controller="navigation as nav" class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand property-logo" href="#/">
                        <img alt="Palmer Property Rentals" src="content/images/properties-logo.png">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" role="tablist">
                        <li ng-show="!authenticated" ng-class="{active:nav.tab('navigation')}"><a href="#/login">login</a></li>
                        <li ng-show="authenticated"><a href="" ng-click="nav.logout()">logout</a></li>
                        <li ng-show="!authenticated" ng-class="{active:nav.tab('signup')}"><a href="#/signup">sign up</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div ng-show="!authenticated">
            <h3>Welcome</h3>
            Sign in to view stuff
        </div>

	</div>
	<div ng-view class="container"></div>
    <script src="bower/jquery/dist/jquery.js"></script>
    <script src="bower/json3/lib/json3.js"></script>
    <script src="bower/messageformat/messageformat.js"></script>
    <script src="bower/angular/angular.js"></script>
    <script src="bower/angular-route/angular-route.js"></script>
    <script src="bower/angular-aria/angular-aria.js"></script>
    <script src="bower/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower/angular-cache-buster/angular-cache-buster.js"></script>
    <script src="bower/angular-cookies/angular-cookies.js"></script>
    <script src="bower/ngstorage/ngStorage.js"></script>
    <script src="bower/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower/angular-resource/angular-resource.js"></script>
    <script src="bower/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower/bootstrap-ui-datetime-picker/dist/datetime-picker.js"></script>
    <script src="bower/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
    <script src="bower/angular-xeditable/dist/js/xeditable.js"></script>

	<script src="app/app.js"></script>
    <script src="app/controllers/home.js"></script>
    <script src="app/controllers/navigation.js"></script>
    <script src="app/controllers/property.js"></script>
    <script src="app/controllers/registration.js"></script>
    <script src="app/controllers/signup.js"></script>
    <script src="app/controllers/tenant.js"></script>
    <script src="app/controllers/viewProperty.js"></script>
    <script src="app/directives/googleplace.js"></script>
    <script src="app/directives/inputFields.js"></script>
    <script src="app/directives/propertyOptions.js"></script>
    <script src="app/directives/removeTenant.js"></script>
</body>
</html>
